.skill_list {
  list-style: none;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* gap: 8px; */
  margin-top: 16px;
}

.skill {
  margin-left: 10px;
  margin-left: 0 auto;
}

.block_style {
  /* border-radius: 4px; */
  /* height: 20px;
  width: 150px; */
  /* background-color: aqua; */
}

.block_style li {
  /* display: flex; */
  /* margin-left: 17px; */
  /* list-style-type: none;
  text-decoration: cen; */
  /* align-items: center; */
}

.skill img {
  margin-left: 9px;
}
